* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    color: #666666;
     font-size: 14px;
     line-height: 1.8;
     font-weight: normal;
}

/* appling styles to header */

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    width: 100%;
	background-image: url(../images/banner.png); 
	height: auto;
	padding: 30px 30px;
	background-size:cover;
	background-size: 100%;
    background-repeat: no-repeat;
}

header h1 {
    font-size: 4vw;
    margin-left: 30px;
    padding: 10px;
    color: whitesmoke;
}

header nav ul {
    list-style: none;
    display: inline-flex;
}

header nav ul li a {
    color: whitesmoke;
    text-decoration: underline;  
    line-height: 20px;
    font-size: 16px;
    font-weight: bolder;
    padding: 22px 20px;
    text-transform: uppercase; 
   
}

header section button {
    margin: 20px;
    padding: 10px;
    background-color: #2aaf80;
    box-shadow: whitesmoke;
}

header section button a {
    color: whitesmoke;
    font-weight: bolder;
    text-transform: uppercase; 
    text-decoration: none;
    font-weight: bolder;
}

/* About me section */

#about {
	width: 100%;
	display: flex;
	margin-top: 40px;
    margin-bottom: 40px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    
    }

span {
    color: #2aaf80;
}

.subheading {
	width: 100%;
	text-align: center;
	color: #030907;
    font-weight: 600;
    font-size: 48px;
    font-variant: small-caps;
}

.para {
	width: 100%;
    text-align: center;
    padding: 25px;
}

.container, .container2 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    align-items: stretch; 
    flex-grow: inherit; 
}

.boxdesign1{
	width: 30%;
    height: 0 auto;
	background-color: #2aaf80;
	border-radius: 30px;
	padding: 20px;
    margin: 20px;
	box-shadow: 0px 0px 8px 0px;
}

.boxdesign {
	width: 30%;
    height: auto;
	background-color: #ffffff;
	border-radius: 30px;
	padding: 20px;
    margin: 20px;
    box-shadow: 0px 0px 8px 0px;
}

.biopic img {
    width: 50vm;
    max-width: 600px;
    height: auto;
}

/* Mywork Section */

#mywork {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.main {
    width:100% ;
    height: 400px;
    overflow: hidden;
}

.icon {
	text-align: center;
	margin-top: 40px;
}

.main .icon img {
    height: 150px;
    width: 270px;
}

.icon img {
        height: 100px;
        width: 180px;  
}

.main .icon img:hover {
    height: 225px;
    width: 405px;
}

.icon img:hover {
    height: 150px;
    width: 270px;
}

.boxheading1 {
	width: 100%;
	text-align: center;
	margin-top: 20px;	
	color: #ffffff;
}

.boxheading {
	width: 100%;
	text-align: center;
	margin-top: 20px;	
	color:#2aaf80;
}

.boxpara {
	width: 100%;
	text-align: center;
	margin-top: 20px;	
	color: #000;
}

/* Testimonial Section */

#testimonials, #contact {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;  
    align-items: center;
    align-content: center;
    margin-top: 40px;       
}

.boxpara1 {
	width: 100%;
	text-align: center;
	margin-top: 20px;	
	color: #000;
    font-family: cursive;
}

.boxheading2 {
	width: 100%;
	text-align: center;
	margin-top: 20px;	
	color:#2aaf80;
    font-weight: bolder;
    font-style: italic;
    font-variant: small-caps;
}

.designation {
    font-size: small;
    font-weight: bold;
    color: #2aaf80;
    text-align: center;
    font-family: cursive;
}

/* Contact me */

.contactinfo {
    background: #2aaf80;
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    align-content: center;
}

.contactinfo form {
    width: 40em;
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    line-height: 1.5em;
	background-color: #ffffff;
	border-radius: 30px;
	padding: 20px;
    margin: 20px;
    box-shadow: 0px 0px 8px 0p
}

.contactinfo form input, 
.contactinfo form textarea {
    border: 1px solid #2aaf80;
    padding: 7px 15px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 15px;
}

/* to change the properties of placeholder in the form */
::placeholder { 
    color: #2aaf80;
    font-size: small;
    font-family: cursive;
}
  
.contactinfo form label {
    margin: 0 5px;
    color: #2aaf80;
    font-size: large;
    font-weight: bolder;
}

.contactinfo h3 {
    color: whitesmoke;
    font-size: 32px;
    font-variant: small-caps;
    text-align: center;
}

.contactinfo form button {
    color: whitesmoke;
    background-color: #2aaf80;
    border: blanchedalmond;
    padding: 10px 20px;
    font-size: 16px;
}

#contactname {
    color: black;
}

#contactmessage {
    height: 60px;
}

.links {
    width: 20%;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.links h5 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: whitesmoke;
    font-size: 22px;
}

.links a {
    text-decoration: none;
    color: whitesmoke;
}

/* Footer Section */

footer {
    background-color: #2c2c2c;
    box-shadow: 0px 0px 8px 0p;
    height:70px;
    padding: 20px;
}

footer h2 {
    font-size: small;
    text-align: center;
    color: white;
    font-weight: lighter;
    font-family: cursive;
}

footer h3 {
    font-size: smaller;
    text-align: center;
    color: white;
    font-weight: lighter;
    font-family: cursive;
}

/* For laptops */
@media screen and (max-width: 1200px) {
    .biopic img {
        width:40vm ;
        max-width: 500px;
    }
    .contactinfo form {
        width:80%;
    }

    .links {
        width:30%;
    }

    .boxdesign1,
    .boxdesign {
        width: 45%;
    }
    .main .icon img {
        height: 100px;
        width: 180px;
    }
    .main .icon img:hover {
        height: 150px;
        width: 270px;
    }
}

/* for smaller laptops */
@media screen and (max-width: 1060px) {
    header {
        align-items: center;
        flex-direction: column;
        justify-content: center;
    } 
    .subheading {
        font-size: 38px;
    }
    
    .boxdesign1,
    .boxdesign {
        width: 85%;
    }
}

/* for tablets */
@media screen and (max-width: 900px) {

    header {
        padding: 10px 10px;
        justify-content: flex-start;
    } 

    header h1 {
        padding: 5px;   
    }

    header nav ul li a {  
        line-height: 10px;
        font-size: 12px;
    }

    header section button {
        margin: 12px;
        padding: 8px;
    }

    header section button a {
        font-size: smaller;
    } 

    .subheading {
        font-size: 28px;
    }

    .biopic img {
        max-width: 350px;
    }

    .para {
        padding: 10px;
    }

    .boxdesign1,
    .boxdesign {
        padding: 10px;
        margin: 10px;
    }

    .contactinfo {
        justify-content: center;
    }
    .contactinfo form {
        width:80%;
    }

    .links {
        width:40%;
    }

    .contactinfo h3 {
       
        font-size: 23px;
    }

    .main {
        height: 100%;
    }

    .links h5 {
        font-size: 12px;
        margin-bottom: 10px;
        margin-left: 0%;
        justify-content: space-between;
    } 
}

/* for phones */
@media screen and (max-width: 600px) {
    body {
        width: 109%;
    }

    header {
        display: inline-block;
        height: fit-content;
        width: 100%;
    }

    header h1 {
        float: left;
        font-size: x-large;
    }
    header nav ul {
        display: flex;
        flex-direction: column;
        float: right;
    } 

    header nav ul li a {  
        font-size: 8px;
    }

    header section button {
        margin-left: 50px;
        padding: 3px;
    }
    header section button a {
        font-size: xx-small;
    } 

    .subheading {
        font-size: 18px;
    }

    .boxpara,
    .boxpara1,
    .para {
        font-size: small;
        padding: 0 20px 0 20px;
    }

    .biopic img {
        max-width: 250px;
    }

    .main .icon img:hover,
    .icon img:hover {
        height: 100px;
        width: 180px;
    }

    .contactinfo form,
    .contactinfo {
        width: 100%;  
    }
    
    .contactinfo form input, 
    .contactinfo form textarea {
        padding: 7px 10px;
        font-size: 10px;
        margin-bottom: 10px;
    }
    
    .contactinfo h3 {
        font-size: 20px;  
    }
    
    .contactinfo form button {
        padding: 10px 10px;
        font-size: 10px;
    }
    
    .contactme {
        width: fit-content;
        height: fit-content;
    }

    .links {
        width:80%;
    }
    
    .links h5 {
        justify-content: space-between;
    } 
    .links a {
        font-size: small;
    }
    
    footer h3 {
        font-size: x-small;
    }

    footer h2 {
        font-size: xx-small;
    }
    
}

/* smaller phones like galaxy fold & apple SE */
@media screen and (max-width: 320px) {

    header h1 {
        float: left;
        font-size: larger;
    }

    .links h5 a {
        font-size: smaller;
    }

    .main .icon img:hover,
    .icon img:hover,
    .main .icon img,
    .icon img {
        height: 80px;
        width: 160px;
    }

}

